<footer style="background-color: #2C3639;">

    <div class="container">
        
        <nav class="footer-nav">
            <div class="footer-col">
                <h5 class="title">DoConnect</h5>
                <ul class="footer-list">
                    <li><a href="">About Us</a> </li>
                    <li><a href="">Help</a> </li>
                </ul>
            </div>
            

        </nav>
        <div class="footer-copyright">
            <ul class="social">
                <li class="me-2"><a href=""><b>Blog</b></a> </li>
                <li class="me-2"><a href=""> Facebook</a></li>
                <li class="me-2"><a href="">Twitter</a> </li>
                <li class="me-2"><a href="">LinkedIn</a> </li>
                <li class="me-2"><a href="">Instagram</a> </li>
            </ul>
            © 2022 Doconnect
        </div>
    </div>
</footer>
