footer {
    clear: both; 
    position: relative;
    bottom: 0;
    z-index: 10;
    line-height: 3em;
    margin-bottom: -2em;
    color: #aaa;
    box-sizing: border-box;
    width:100%;
}

.container {

    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-nav {
    margin-left: 30px;
    display: flex;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    flex-wrap: wrap;
}

.footer-col {
    padding: auto;
    flex: 1 auto;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-top: 12px;
    text-decoration: none;
}

.footer-list {
    padding-left: 0px;
    list-style: none;
    line-height: 30px;
}

.social {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

img {
    margin-top: -5px;
    width: 70px;
    height: 60px;
}

a {
    text-decoration: none;
    color: #aaa;
}