.body{
    
    background-color: #ebe5d6;

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 750px;
}
.login{
  width: 30%;
  margin: auto;
  border: 1px solid rgb(188, 171, 171);
  margin-top: 50px;
  padding: 40px;
  background-color: white;
  border-radius: 15px;
}
.email{
    padding: 20px 20px;
    margin-top: 10px;
}
.email h2{
    text-align: center;
    /* font-family:'Courier New', Courier, monospace; */
    font-weight: 500;
    color: rgb(92, 92, 124);
    margin-bottom: 20px;
}
.loginButton{
    margin: 0 60px;
    text-align: center;
}
.login-button{
    margin: 0 20px;
    background-color: #A27B5C;
    font-size: large;
    color: #ebe5d6;
    padding: 12px 30px;
    border-radius: 15px;
    border:none;
    box-shadow: 3px 3px #fbe7d7;
}
.login-button :hover{
    background-color: #a27b5c; 
}
Button:hover{
    background-color: rgb(74, 74, 237);
}
p{
    text-align: center;
    margin:30px 0 60px 0;
}
a{
    width: auto;
}
