.sideNav {
    margin: 10px;
    border: 1px solid #555;
}
mat-drawer{
    margin: 10px;
    padding: 40px;
}
.questions {
    max-width: 800px;
    margin: 30px;
}
#categories{
    margin-top: 5px;
    
}
h2,
h6 {
    margin-left: 30px;
}
li{
    font-size: 20px;
    font-weight: bold;
}
#ask {
    margin-left: 700px;
}

.questionTag{
    background: rgb(133, 145, 177);
    margin-left: 10px;
    padding: 5px;
    color: white;
}
.answer{
    float: right;
    margin-right: 8px;
}
.yourAnswer{
    width: 100%;
    margin-top: 10px;
}
  
.nav-link {
    color:#555 ;
    font-size: 14px;
}

.top-nav {

    margin-top: 20px;
}
.q-button{
    margin: 0 20px;
    background-color: #A27B5C;
    font-size: large;
    color: #ebe5d6;
    padding: 12px 30px;
    border-radius: 15px;
    border:none;
    box-shadow: 3px 3px #fbe7d7;
}
.q-button :hover{
    background-color: #a27b5c;
}
.navbar{
    background-color: #ebe5d6;
}
.container-question{
    width:90%;
    text-align: center;
    margin:auto;
}
table{
    margin: auto;
}
th{
    font-weight: 700;
}
th , td{
    /* width:24%; */
    border: 1px solid black;
    padding:5px 30px;
    font-size: 16px;
}
.col-1-heading{
    width:50%;
}
tr .col-1{
    text-align: justify;
    width: 50%;
}tr .col-1{
    text-align: center;
}tr .col-1{
    text-align: justify;
}