.navbar-brand{
    font-weight: bold;
}
.navbar{
    background-color: #2C3639;

}
.nav-buttons{
    padding-left:20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    background-color: #A27B5C;
    /* color:#2C3639; */
    color: azure;
    font-weight: 500;
}