.body {
    /* background-color: rgb(250, 250, 250); */
    background-color: #ebe5d6;

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 750px;
    margin-bottom: 10px;
}

.askQuestion {
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 60px 100px;
}

h3 {
    text-align: center;
    font-size: 25px;
   /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 600;
    color: rgb(75, 75, 101);
}

.padding {
    padding: 15px 0;
}

.askQuestionButton {
    margin: 0 60px;
    text-align: center;
}

Button:hover {
    background-color: rgb(74, 74, 237);
}
.ask-button{
    margin: 0 20px;
    background-color: #A27B5C;
    font-size: large;
    color: #ebe5d6;
    padding: 12px 30px;
    border-radius: 15px;
    border:none;
    box-shadow: 3px 3px #fbe7d7;
}
.ask-button :hover{
    background-color: #a27b5c;
}