.holder{
	background-color: #ebe5d6;
	min-height: 750px;
  font-family: 'Raleway', sans-serif;

}
/* #btn-chat{
  border-radius: 50%;
  background-color: rgb(190, 68, 68);
  color: aliceblue;
  position:relative;
  width:60px;
	height:60px; 
	bottom:20px;
	right:-5px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  float: right;
 

} */
.logout-button{
    margin: 0 20px;
    background-color: #A27B5C;
    font-size: large;
    color: #ebe5d6;
    padding: 12px 30px;
    border-radius: 15px;
    border:none;
    box-shadow: 3px 3px #fbe7d7;
}
.logout-button :hover{
    background-color: #a27b5c;
}
.q-button{
    margin: 0 20px;
    background-color: #A27B5C;
    font-size: large;
    color: #ebe5d6;
    padding: 12px 30px;
    border-radius: 15px;
    border:none;
    box-shadow: 3px 3px #fbe7d7;
}
.q-button :hover{
    background-color: #a27b5c;
}
.sub-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  /* background-color: aqua; */
}
.page-heading{
  font-size: 50px;
  text-align: center;
  width:30%;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}
.chat{
  width: 20%;
}