.body{
    /* background-color: rgb(250, 250, 250); */
    background-color: #ebe5d6;

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 750px;
}

.register {
    background-color: white;
    width: 30%;
    margin: auto;
    border: 1px solid rgb(188, 171, 171);
    margin-top: 50px;
    padding: 40px;
    border-radius: 15px;
}

h2 {
    text-align: center;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 500;
    color: rgb(92, 92, 124);
    margin-bottom: 30px;
}
.login-button{
    margin: 0 20px;
    background-color: #A27B5C;
    font-size: large;
    color: #ebe5d6;
    padding: 6px 20px;
    border-radius: 15px;
    border:none;
    box-shadow: 3px 3px #fbe7d7;
}
.login-button{
    background-color: #a27b5c;
}
p{
    color: #2C3639 ;
}

.registerButton{
    text-align: center;
}

Button:hover {
    background-color: rgb(74, 74, 237);
}

p {
    text-align: center;
    margin: 15px 0 10px 0;
}